<table>
<% @results.each do |result| %>
    <tr>
        <th><%= result['label'] %></th>
        <td><%= number_to_currency(result['total'], locale: :"pt-BR", unit: "R$") %></td>
    </tr>
<% end %>
</table>